.img-cat {
  max-width: 4vw;
}
.click1 {
  min-width: 10vw;
  min-height: 3vw;
  background-color: rgb(199, 176, 221);
  border: 1px solid rgb(85, 30, 117);
  color: rgb(85, 30, 117);
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 1.8rem;
}

.task-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  font-size: 1.4rem;
}
.block1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-left: 5%;
}
.block2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35vw 0.2fr;
  justify-items: center;
}
.block2__img {
  padding-top: 10%;
  max-width: 30vw;
}
.block2__img-arrow {
  max-width: 7vw;
}
.btn {
  border: 1px solid rgb(195, 242, 247);
  border-radius: 50%;
  background-color: aliceblue;
}
.btn:hover {
  background: -webkit-linear-gradient(
    45deg,
    rgb(205, 239, 242),
    rgb(231, 214, 242)
  );
  box-shadow: 0px 5px 10px 2px rgba(128, 181, 184, 0.2);
}
.block2__btn1 {
  margin-right: 5vw;
}
.block2__btn2 {
  margin-left: 5vw;
}

* {
  box-sizing: border-box;
}

.block3 {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  padding: 0 2vw;
}

.slide {
  height: 80vh;
  border-radius: 2vw;
  margin: 1vw;
  cursor: pointer;
  color: rgb(181, 161, 212);
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 1.7rem;
  bottom: 1vw;
  left: 1vw;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
